In [1]:
!pip install pyarrow
!pip install google-cloud-bigquery

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.19.2)
Requirement already satisfied: google-cloud-bigquery in c:\programdata\anaconda3\lib\site-packages (2.17.0)
Requirement already satisfied: google-api-core[grpc]<2.0.0dev,>=1.23.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.28.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.24.0)
Requirement already satisfied: proto-plus>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.18.1)
Requirement already satisfied: protobuf>=3.12.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (3.17.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.6.0)
Requirement already satisfied: google-resumable-media<2.0dev,>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (1.3.0)
Requirement already satisfied: packaging>=14.3 in c:\programdata\anaconda3\lib\site-packages (from google-cloud-bigquery) (20.4)
Requirement already satisfied: pytz in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (2020.1)
Requirement already satisfied: setuptools>=40.3.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (50.3.1.post20201107)
Requirement already satisfied: six>=1.13.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.15.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.53.0)
Requirement already satisfied: google-auth<2.0dev,>=1.25.0 in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.30.0)
Requirement already satisfied: grpcio<2.0dev,>=1.29.0; extra == "grpc" in c:\programdata\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (1.38.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.25.11)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in c:\programdata\anaconda3\lib\site-packages (from google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.1.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=14.3->google-cloud-bigquery) (2.4.7)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in c:\programdata\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: cffi>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (1.14.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.23.0->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery) (2.20)

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.8.6)

In [2]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

# Extracting data from PostgreSQL

In [3]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'Adventuresworks', user = 'postgres',password='1234' )

In [4]:
cur = conn.cursor()
table = pd.read_sql_query( 'SELECT * FROM production.product', conn )
table1=pd.read_sql_query('SELECT * FROM person.person',conn)
tableSalesStorePerson=pd.read_sql_query('SELECT * FROM sales.salesperson',conn)
tableStore=pd.read_sql_query('SELECT * FROM sales.store',conn)
tableSalesTerritory=pd.read_sql_query('SELECT * FROM sales.salesterritory',conn)
#----------------------------------------------------------------------
tableVendor = pd.read_sql_query( 'SELECT * FROM purchasing.Vendor', conn )
tableProductVendor = pd.read_sql_query( 'SELECT * FROM purchasing.ProductVendor', conn )
tableProduct = pd.read_sql_query( 'SELECT * FROM production.Product', conn )
tableProductSubcategory = pd.read_sql_query( 'SELECT * FROM production.ProductSubcategory', conn )
tableProductCategory = pd.read_sql_query( 'SELECT * FROM production.ProductCategory', conn )
cur.close()

In [5]:
conn.close()

# Transforming Data

In [6]:
tableSalesStorePerson_filtrado=tableSalesStorePerson.dropna()

In [7]:
tableSalesStorePerson_filtrado

,businessentityid,territoryid,salesquota,bonus,commissionpct,salesytd,saleslastyear,rowguid,modifieddate
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-bfec-4242-874d-423162c3f567,2011-05-24
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24
5,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24
6,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24
7,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24
8,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24
9,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24
10,284,1.0,300000.0,3900.0,0.019,1.576562e+06,0.000000e+00,ac94ec04-a2dc-43e3-8654-dd0c546abc17,2012-09-23
12,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23
14,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23
15,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23
16,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23

In [8]:
tablex=pd.merge(tableSalesStorePerson,tableStore,left_on="businessentityid",right_on="salespersonid")

In [9]:
tablex=tablex.drop_duplicates(subset=['businessentityid_x'])

In [10]:
tablex=pd.merge(tablex,tableSalesTerritory,left_on="territoryid",right_on="territoryid")

In [11]:
tablex

,businessentityid_x,territoryid,salesquota,bonus,commissionpct,salesytd_x,saleslastyear_x,rowguid_x,modifieddate_x,businessentityid_y,...,modifieddate_y,name_y,countryregioncode,group,salesytd_y,saleslastyear_y,costytd,costlastyear,rowguid,modifieddate
0,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1e0a7274-3064-4f58-88ee-4c6586c87169,2011-05-24,298,...,2014-09-12 11:15:07.497,Northeast,US,North America,2.402177e+06,3.607149e+06,0.0,0.0,00fb7309-96cc-49e2-8363-0a1ba72486f2,2008-04-30
1,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4dd9eee4-8e81-4f8c-af97-683394c1f7c0,2011-05-24,294,...,2014-09-12 11:15:07.497,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,dc3e9ea0-7950-4431-9428-99dbcbc33865,2008-04-30
2,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326ddb-7278-4fef-b3ba-ea137b69094e,2011-05-24,302,...,2014-09-12 11:15:07.497,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,dc3e9ea0-7950-4431-9428-99dbcbc33865,2008-04-30
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-bfec-4242-874d-423162c3f567,2011-05-24,296,...,2014-09-12 11:15:07.497,Central,US,North America,3.072175e+06,3.205014e+06,0.0,0.0,df6e7fd8-1a8d-468c-b103-ed8addb452c1,2008-04-30
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7a0ae1ab-b283-40f9-91d1-167abf06d720,2011-05-24,332,...,2014-09-12 11:15:07.497,Canada,CA,North America,6.771829e+06,5.693989e+06,0.0,0.0,06b4af8a-1639-476e-9266-110461d66b00,2008-04-30
5,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31fd7fc1-dc84-4f05-b9a0-762519eacacc,2011-05-24,312,...,2014-09-12 11:15:07.497,Canada,CA,North America,6.771829e+06,5.693989e+06,0.0,0.0,06b4af8a-1639-476e-9266-110461d66b00,2008-04-30
6,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52a5179d-3239-4157-ae29-17e868296dc0,2011-05-24,292,...,2014-09-12 11:15:07.497,Southeast,US,North America,2.538667e+06,3.925071e+06,0.0,0.0,6dc4165a-5e4c-42d2-809d-4344e0ac75e7,2008-04-30
7,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,be941a4a-fb50-4947-bda4-bb8972365b08,2011-05-24,430,...,2014-09-12 11:15:07.497,Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0,43689a10-e30b-497f-b0de-11de20267ff7,2008-04-30
8,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6bac15b2-8ffb-45a9-b6d5-040e16c2073f,2011-05-24,304,...,2014-09-12 11:15:07.497,Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0,43689a10-e30b-497f-b0de-11de20267ff7,2008-04-30
9,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9b968777-75dc-45bd-a8df-9cdaa72839e1,2013-05-23,300,...,2014-09-12 11:15:07.497,Australia,AU,Pacific,5.977815e+06,2.278549e+06,0.0,0.0,602e612e-dfe9-41d9-b894-27e489747885,2008-04-30
10,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224bb25a-62e3-493e-acaf-4f8f5c72396a,2013-05-23,314,...,2014-09-12 11:15:07.497,Germany,DE,Europe,3.805202e+06,1.307950e+06,0.0,0.0,6d2450db-8159-414f-a917-e73ee91c38a9,2008-04-30
11,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25f6838d-9db4-4833-9ddc-7a24283af1ba,2012-05-23,432,...,2014-09-12 11:15:07.497,United Kingdom,GB,Europe,5.012905e+06,1.635823e+06,0.0,0.0,05fc7e1f-2dea-414e-9ecd-09d150516fb5,2008-04-30
12,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,f509e3d4-76c8-42aa-b353-90b7b8db08de,2012-05-23,434,...,2014-09-12 11:15:07.497,France,FR,Europe,4.772398e+06,2.396540e+06,0.0,0.0,bf806804-9b4c-4b07-9d19-706f2e689552,2008-04-30

In [12]:
tablex["name"]

KeyError: 'name'

# Uniones - 1

In [13]:
mergeVxPV = pd.merge(tableVendor[['businessentityid', 'name']], tableProductVendor[['productid', 'businessentityid']], 
                     how='inner', on='businessentityid')
mergeVxPV = mergeVxPV.rename(columns={'name':'name_vendor'})

In [14]:
mergeVxPVxP = pd.merge(mergeVxPV, tableProduct[['productid', 'productsubcategoryid']], how='inner', on='productid')

In [15]:
mergeVxPVxPxPSC = pd.merge(mergeVxPVxP, tableProductSubcategory[['productsubcategoryid', 'productcategoryid', 'name']], 
                           how='inner', on='productsubcategoryid')
mergeVxPVxPxPSC = mergeVxPVxPxPSC.rename(columns={'name':'name_productsubcategory'})

In [16]:
mergeVxPVxPxPSCxPC = pd.merge(mergeVxPVxPxPSC, tableProductCategory[['productcategoryid', 'name']], 
                              how='inner', on='productcategoryid')
mergeVxPVxPxPSCxPC = mergeVxPVxPxPSCxPC.rename(columns={'name':'name_productcategory'})

In [17]:
mergeVxPVxPxPSCxPC.head()

,businessentityid,name_vendor,productid,productsubcategoryid,productcategoryid,name_productsubcategory,name_productcategory
0,1498,"Trikes, Inc.",921,37.0,4,Tires and Tubes,Accessories
1,1498,"Trikes, Inc.",930,37.0,4,Tires and Tubes,Accessories
2,1632,Sport Fan Co.,930,37.0,4,Tires and Tubes,Accessories
3,1538,Vista Road Bikes,928,37.0,4,Tires and Tubes,Accessories
4,1632,Sport Fan Co.,928,37.0,4,Tires and Tubes,Accessories

# Transforming data - 1

In [18]:
grouping_1 = mergeVxPVxPxPSCxPC.groupby( ['name_vendor', 'name_productcategory'] ).agg( { 'productid': 'count' } ).reset_index().sort_values( by = 'name_vendor' )

In [19]:
pivotProductosOfrecidos = grouping_1.pivot(index='name_vendor', columns='name_productcategory', values='productid')

In [20]:
pivotProductosOfrecidos.fillna('0')

name_productcategory              Accessories Clothing Components
name_vendor
Bicycle Specialists                         0        0          1
Chicago City Saddles                        0        0          9
Compete Enterprises, Inc                    0        0          1
Crowley Sport                               0        0          2
Expert Bike Co                              0        0          3
First Rate Bicycles                         0        0          3
Fitness Association                         0        9          0
G & K Bicycle Corp.                         3        0          0
Green Lake Bike Company                     9        0          0
Greenwood Athletic Company                  0        0          2
Hill's Bicycle Service                      0        0          2
Hybrid Bicycle Center                       0        0          1
Inline Accessories                          0        0          1
Integrated Sport Products                   0       10          0
International Trek Center                   7        0          0
Jackson Authority                           0        0          2
Jeff's Sporting Goods                       0        4          0
Mitchell Sports                             0        0          2
Professional Athletic Consultants           4        0          0
Signature Cycles                            2        0          0
Sport Fan Co.                               3        0          0
Superior Bicycles                           0        0          2
Team Athletic Co.                           0       12          0
Trikes, Inc.                                2        0          0
Varsity Sport Co.                           0        0          1
Victory Bikes                               4        0          0
Vista Road Bikes                            2        0          0

# Extracting data from PostgreSQL - 2¶

In [21]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'adventureworks', user = 'postgres', password = 'admin' )

OperationalError:

In [22]:
cur = conn.cursor()
tableSpecialoffer = pd.read_sql_query( 'SELECT * FROM sales.specialoffer', conn )
tableSpecialofferproduct = pd.read_sql_query( 'SELECT * FROM sales.specialofferproduct', conn )
tableSalesorderdetail = pd.read_sql_query( 'SELECT * FROM sales.salesorderdetail', conn )
cur.close()

InterfaceError: connection already closed

In [ ]:
conn.close()

In [ ]:
tableSpecialoffer.head()

In [ ]:
tablespecialofferproduct.head()

In [ ]:
tableSalesorderdetail.head()

# Uniones - 2

In [ ]:
mergeSOxSOP = pd.merge(tableSpecialoffer[['specialofferid', 'type']], tableSpecialofferproduct[['specialofferid', 'productid']], 
                     how='inner', on='specialofferid')

In [ ]:
mergeSOxSOP = mergeSOxSOP.rename(columns={'type':'type_specialofferid'})
mergeSOxSOP['productid_specialofferid'] = mergeSOxSOP['productid'].map(str) + "_" + mergeSOxSOP['specialofferid'].map(str)

In [ ]:
tableSalesorderdetail['productid_specialofferid'] = tableSalesorderdetail['productid'].map(str) + "_" + tableSalesorderdetail['specialofferid'].map(str)

In [ ]:
mergeSOxSOPxSOD = pd.merge(mergeSOxSOP, tableSalesorderdetail[['productid', 'specialofferid', 'orderqty', 'productid_specialofferid']], 
                     how='inner', on='productid_specialofferid')

# Transforming data - 2

In [ ]:
grouping_2 = mergeSOxSOPxSOD.groupby( ['type_specialofferid'] ).agg( { 'orderqty': 'sum' } ).reset_index().sort_values( by = 'type_specialofferid' )

In [ ]:
grouping_2